---
title: Everyday Carry
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <!-- Updated CSS path -->
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  {% include "nav.liquid" %}

  <main class="content">
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 Chandrashekhar’s Everyday Carry</p>
  </footer>
</body>
</html>
