<nav>
  <ul>
    <li><a href="/" title="Go home">Home</a></li>
    <li><a href="/airpods/" title="AirPods page">AirPods</a></li>
    <li><a href="/wallet/" title="Wallet page">Wallet</a></li>
    <li><a href="/keys/" title="Keys page">Keys</a></li>
  </ul>
</nav>